<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the homepage</title>
    <link rel="stylesheet" href="static/style.css">

</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="/predictdata" style="text-decoration: none;">Home</a>
                </li>
            </ul>
        </nav>
    </div>
</body>

</html>